:root {
  --color-phthalo-blue: rgb(0, 13, 129);
  --color-lavender: rgb(210, 218, 239);
  --color-night: rgb(18, 19, 15);
  --color-powder-blue: rgb(164, 194, 223);
  --color-white: rgba(255, 255, 255, 0.969);
  --color-aqua-blue: #5bc5d2;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-dark-gray: #333333;
  --color-orange: #f28e1a;
  --color-bright-green: #a3ed29;
  --color-neon-yellow: #fbff2e;
  --color-hot-pink: #ff1d9c;
  --color-midnight-blue: #3a3e4e;
  --color-peach: #ffab48;
  --color-slate-gray: #575b70;
  --color-dark-teal: #003e58;
  --color-cave-water-blue: #002637;
}

.about-us {
  position: relative;
  width: 90%;
  margin: 80px auto;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;
  background-color: rgb(233, 233, 218);
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.about-us:hover {
  transform: translateY(-5px);
}

.program-image {
  width: 30%;
  padding: 25px;
  margin-left: 50px;
}

.about-us-des {
  text-align: left;
  display: block;
  margin-left: 50px;
  padding: 50px 92px 50px 50px;
  line-height: 1.5;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px 50px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: visible;
  object-fit: scale-down;
  z-index: 1;
}

.thumbnail-image {
  width: 100%;
  object-fit: fill;
  filter: brightness(50%);
}

.description-image {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 350px;
  height: auto;
}
.description-image img,
video {
  display: block;
  margin: 0;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.content-overlay {
  position: absolute;
  top: 12%;
  left: 7%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  color: white;
}

.hero-section {
  font-size: 64px;
  position: absolute;
  text-align: justify;
  top: 35%;
  color: var(--color-white);
  z-index: 1;
}

.hero-section p {
  font-size: 22px;
  padding-top: 20px;
  font-style: italic;
}

.hero-section h6 {
  font-size: 42px;
  top: 40%;
  color: #5bc5d2;
  font-weight: 1000;
}

.description-card {
  position: relative;
  z-index: 0;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color-white);
  /* transition: transform 0.3s ease; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.description-card-paragraph {
  text-align: justify;
  display: block;
  width: 100%;
  margin-left: 5%;
  padding: 50px 92px 50px 50px;
  line-height: 1;
  font-weight: 600;
}
.description-card-paragraph p {
  text-align: justify;
  display: block;
  margin-left: 5%;
  padding: 35px 180px 20px 50px;
  font-size: 20px;
  font-weight: normal;
}

.blue-line {
  width: 100%;
  background-color: #138b91;
  height: 10px;
}

.addresses {
  padding: 20px 0px;
  font-size: 15px;
}

.icon-text {
  display: flex;
  align-items: center;
}

.icon-text img {
  margin-right: 10px;
  width: 21px;
  height: 21px;
}

.addresses span {
  font-size: 18px;
}

.useful-links {
  margin-left: 50%;
}

.contact-us-box {
  width: 100%;
  height: 100%;
}

.social-media-container {
  left: 0;
  display: flex;
  align-items: left;
}
.social-media-icons {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.dancing-image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  filter: brightness(70%);
}
.dancing-image-container img {
  width: 100%;
  height: auto;
}

/* DESCRIPTION CARD COLORS*/
.blue {
  color: #5bc5d2;
  font-style: italic;
  font-weight: bold;
}

.orange {
  color: #f28e1a;
  font-style: italic;
  font-weight: bold;
}

.green {
  color: #a3ed29;
  font-style: italic;
}

.yellow {
  color: #fbff2e;
  font-weight: bold;
}

.pink {
  color: #ff1d9c;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: column;
  }

  .description-card-paragraph,
  .about-us-des {
    margin: 0;
    padding: 20px;
  }

  .about-us {
    flex-direction: column;
    text-align: center;
  }

  .program-image,
  .about-us-des {
    margin-left: 0;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .useful-links {
    margin-left: 0;
    text-align: center;
  }
}
